<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="HotelsBookingTest">
	<parameter name = "checkInDate" value="7/1/2018"/>
	<parameter name = "checkOutDate" value="7/6/2018"/>
		<classes>
			<class name="com.clearTrip.test.HotelBookingTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="FlightBookingTest">
	<parameter name = "departDate" value="7/1/2018"/>
	<parameter name = "from" value="Bangalore"/>
	<parameter name = "to" value="Delhi"/>
	<parameter name = "adults" value="2"/>
	<parameter name = "children" value="1"/>
	<parameter name = "infants" value="1"/>
		<classes>
			<class name="com.clearTrip.test.FlightBookingTest" />
		</classes>
	</test>  <!-- Test -->
	<test thread-count="5" name="SignBookingTest_username_invalid">
	<parameter name = "username" value="adityap002@gmail.com"/>
	<parameter name = "password" value="12345"/>
	<parameter name = "scenario" value="negative"/>
		<classes>
			<class name="com.clearTrip.test.SignInTest" />
		</classes>
	</test>
	<test thread-count="5" name="SignBookingTest_password_invalid">
	<parameter name = "username" value="asdfhk"/>
	<parameter name = "password" value="Ad!%y@123"/>
	<parameter name = "scenario" value="negative"/>
		<classes>
			<class name="com.clearTrip.test.SignInTest" />
		</classes>
	</test> 
	<test thread-count="5" name="SignBookingTest_username_password_empty">
	<parameter name = "username" value=""/>
	<parameter name = "password" value=""/>
	<parameter name = "scenario" value="negative"/>
		<classes>
			<class name="com.clearTrip.test.SignInTest" />
		</classes>
	</test>
	<test thread-count="5" name="SignBookingTest_username_password_valid">
	<parameter name = "username" value="adityap002@gmail.com"/>
	<parameter name = "password" value="Ad!%y@123"/>
	<parameter name = "scenario" value="positive"/>
		<classes>
			<class name="com.clearTrip.test.SignInTest" />
		</classes>
	</test>  <!-- Test -->
</suite> <!-- Suite -->
